
body{
    background-color: rgb(200, 232, 249);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button:hover{
    background-color: rgb(128, 176, 193);
  }
  
  .back{
    width: 50px;
    margin: 15px;
    height:50px;
    border-radius: 100%;
    background-color: rgb(156, 216, 236);
    font-size: 20px;
    position:sticky;
    float: right;
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  .graph{
    margin:50px;
  }
  
  div[role="progressbar"] {
    --size: 30rem;
    --fg: #369;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-size: calc(var(--size) / 5);
    color: black;
  
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  
  h1{
    margin: 30px; 
    font-size: 60px;
  }
  
  h3{
    margin: 10px; 
    font-size: 40px;
  }
  
  .text{
    margin: 30px;
  }
  
  h2{
    font-size: 40px;
    margin-left: 10px;
  }
  p{
    font-size: 20px;
    margin-left: 20px;
  }

  .compareButton{
    width: 200px;
    height:40px;
    border-radius: 5px;
    background-color: rgb(156, 216, 236);
    font-size: 20px;
  }
  
  .info{
    width: 50px;
    margin: 15px;
    height:50px;
    border-radius: 100%;
    background-color: rgb(156, 216, 236);
    font-size: 20px;
    position:sticky;
    float: right;
  }