<!doctype html>
<html>
<head>
	<link href="{{ url_for('static', filename='homepage.css') }}" rel="stylesheet" type="text/css">
	<title> Text Similarity Matcher </title>
</head>
	<body>
		<a href=about>
			<button class="info">?</button> 
		</a>
		<br> 
		<h1>Text Comparator</h1>	
		<br> <br> <br>
		<div class="parent">
			<div class="child">
				<form>
					<label for='text1'><b> Insert Text 1 Here:</b></label><br>
					<textarea id='text1' class='text' name='text1'></textarea>
				</form>
			</div>
			<div class="child">
				<form>
					<label for='text2'><b>Insert Text 2 Here:</b></label><br>
					<textarea id='text2' class='text' name='text2'></textarea>
				</form>
			</div>
		</div>

		<div class="container">
			<div class="center">
   				<a href=compare>
	   				<button class="compareButton" onclick="test_compare()">Compare</button>
   				</a>
			</div>
		</div>

		<div class="container">
			<div class="center">
   				<a href=summary>
	   				<button class="compareButton" onclick="test_compare()">Summarise</button>
   				</a>
			</div>
		</div>

		


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</body>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script>

	function test_compare() {

		var string1 = document.getElementById("text1").value;
		string1 = string1.replace(/[\?\/]/g, '.');
		var string2 = document.getElementById("text2").value;
		string2 = string2.replace(/[\?\/]/g, '.');
		sessionStorage.setItem("firstString", string1);
		sessionStorage.setItem("secondString", string2);
	}

	</script>
<html>