<!doctype html>
<html>
<head>
	<link href="{{ url_for('static', filename='infopage.css') }}" rel="stylesheet" type="text/css">
	<title> About Site </title>
</head>
	<body>
			<a href=rerouter>
				<button class="back">&lt</button> 
			</a>
			<br>
			<h1> About Site </h1>
		
			<div>
		<h2>How to Use the Similarity Matcher</h2>
		<p>Simply type or paste in the two text bodies you want to compare in each of the two boxes and click on compare</p>
			
		<h2>How it Works</h2>
		<p >The similarity score you receive is based on the following algorithms:<br>
			<ul>
				<li>Cosine </li>
				<li>Jaccard Index</li>
				<li>TF_IDF</li>
				<li>Long Monge Elkan : Using Levenshtein Scoring and Synonym Checking</li>
			</ul>
		<p>Furthermore, you will also be able to see a summary of both of the texts.</p>
	</div>
		
	</body>
</html>