 <!doctype html>
<html>
<head>
	<link href="{{ url_for('static', filename='compare.css') }}" rel="stylesheet" type="text/css">
	<title> Comparison Results </title>
</head>

	<body>

		<a href=rerouter>
			<button class="back">&lt</button>
		</a>
		<br>
		<h1> Comparison Results</h1>


		<div class="text">
			<h2>Your Similarity Scores:</h2>
			<p id="cosine_score"></p>
			<p id="tfidf_score"></p>
			<p id="jaccard_score"></p>
			<p id="synoME_score"></p>
			<p id="longME_score"></p>
			<br>
			<h3 id="average_score"></h3>
		</div>


		<div id="average_graph" class="graph" role="progressbar" aria-valuenow="65" aria-valuemin="0"
			aria-valuemax="100" style="--value:0"></div>
		<div class="text">
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
		</div>
		<div class="container">
			<div class="center">
   				<a href=summary>
	   				<button class="compareButton">Summarise</button>
   				</a>
			</div>
		</div>


	</body>

	<script>

		$(
			function() {
				test_compare();
			}
		);

		async function test_compare() {

			var string1 = sessionStorage.getItem("firstString");
			var string2 = sessionStorage.getItem("secondString");


			const response = await fetch('/compare/'.concat(string1, "/", string2), {
				method: 'GET'
			});
			const results = await response.json();

			if(results.jaccard == "")
				document.getElementById("jaccard_score").innerText = "Jaccard Index Result: 0";
			else
			  document.getElementById("jaccard_score").innerText = "Jaccard Index Result: ".concat(results.jaccard);

		    if(results.cosine == "")
				document.getElementById("cosine_score").innerText = "Cosine Result: 0";
			else
			    document.getElementById("cosine_score").innerText = "Cosine Result: ".concat(results.cosine);

			if(results.tfidf == "")
				document.getElementById("tfidf_score").innerText = "TF-IDF Result: 0";
			else
			    document.getElementById("tfidf_score").innerText = "TF-IDF Result: ".concat(results.tfidf);

			if(results.synomongeelkan == "")
				document.getElementById("synoME_score").innerText = "Synonym Monge-Elkan Result: 0";
			else
			    document.getElementById("synoME_score").innerText = "Synonym Monge-Elkan Result: ".concat(results.synomongeelkan);

			if(results.lmongeelkan == "")
				document.getElementById("longME_score").innerText = "Long Monge Elkan Result: 0";
			else
				document.getElementById("longME_score").innerText = "Long Monge Elkan Result: ".concat(results.lmongeelkan);

			if(results.first_summary == "")
				sessionStorage.setItem("firstSum", "No summary available");
			else
			    sessionStorage.setItem("firstSum", results.first_summary);

			if(results.second_summary == "")
				sessionStorage.setItem("secondSum", "No summary available");
			else
			    sessionStorage.setItem("secondSum", results.second_summary);

			if(results.first_reduction == "")
				sessionStorage.setItem("firstReduce", "No summary available");
			else
			    sessionStorage.setItem("firstReduce", results.first_reduction);

			if(results.second_reduction == "")
				sessionStorage.setItem("secondReduce", "No summary available");
			else
			    sessionStorage.setItem("secondReduce", results.second_reduction);



			document.getElementById("average_score").innerText = "Calculated Similarity Score: ".concat(Math.round(results.average * 100));
			document.getElementById("average_graph").setAttribute("style", "--value:".concat(Math.round(results.average * 100)));
		}


	</script>
</html>
